.zoom{
    cursor:pointer;
}
.btn-secondary{
    background-color: rgb(89, 228, 228);
    color: black;
}
.bg-black{
    background-color: rgb(122, 200, 236);
    color: black;
}
.bg-green{
    background-color: blanchedalmond;
}.btn-danger{
    background-color: rgb(238, 161, 176);
    color: black;
}
.white{
    color:rgb(20, 22, 10);
    
}
.baack1{
    background-color: rgb(120, 220, 233);
}
