
.colorgreen{
    background-color: rgb(114, 170, 97);
}
.fg-black{
    color:rgb(41, 36, 36);
}
.colorgn{
    background-color:rgb(83, 134, 83);
}
button{
    padding:5px 20px 5px 20px ;
     margin:30%; 
     width:40%;
      text-align:center; 
      background-color:forestgreen;
      cursor: pointer ;

  }
  button:hover
  {
     font-size: 1.5em;
  }
   .container{
       background-color: rgb(72, 131, 199);
       border-radius: 5%;
   }
.image-effect{
    background-image: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)), url(./news.jpg) ;
    
}